	body{
        background: #74ebd5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .navbar-brand{
    	font-family: 'Wallpoet', cursive;
    	
    	padding-left: 100px;
    }
    nav div{
    	font-size: 30px;
    }
    h3{
    	font-family: 'Wallpoet', cursive;
    }
    .bg-custom-1 {
        background-color: #85144b;
    }

    .bg-custom-2 {
        background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    }

    .button{
        width: 90%;
        height: 90%;
        font-size: 40px;
        padding:10px;
        margin: 0px;
        height: 100px;
    }
    .row1{
        overflow: hidden;
    }
#Y{
	color: #E74292;
}
.copyright{
	font-size: 10px;
	margin-top: 100px;
}